#addnewitem {
    background:url("../../../images/icons/extrasmall/filenew.gif") no-repeat scroll 0 50% transparent;
    margin:1.5em 0;
    padding:2px 0 2px 19px;
}

.adr_display div.z-formrow {
    padding:0;
}